BanqueService/WebContent/wsdl/Bank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://project.webServices.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://project.webServices.uge.fr" xmlns:intf="http://project.webServices.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://project.webServices.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSize">
    <complexType/>
   </element>
   <element name="getSizeResponse">
    <complexType>
     <sequence>
      <element name="getSizeReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="display">
    <complexType/>
   </element>
   <element name="displayResponse">
    <complexType/>
   </element>
   <element name="getAmountAccountEUR">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAmountAccountEURResponse">
    <complexType>
     <sequence>
      <element name="getAmountAccountEURReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAccount">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAccountResponse">
    <complexType>
     <sequence>
      <element name="addAccountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositOf">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositOfResponse">
    <complexType/>
   </element>
   <element name="pay">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="amountEUR" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="payResponse">
    <complexType>
     <sequence>
      <element name="payReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAmountAccount">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAmountAccountResponse">
    <complexType>
     <sequence>
      <element name="getAmountAccountReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkAccount">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkAccountResponse">
    <complexType>
     <sequence>
      <element name="checkAccountReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCurrencyAccount">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCurrencyAccountResponse">
    <complexType>
     <sequence>
      <element name="getCurrencyAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="displayResponse">

      <wsdl:part element="impl:displayResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositOfRequest">

      <wsdl:part element="impl:depositOf" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAmountAccountEURResponse">

      <wsdl:part element="impl:getAmountAccountEURResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAccountResponse">

      <wsdl:part element="impl:addAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCurrencyAccountResponse">

      <wsdl:part element="impl:getCurrencyAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositOfResponse">

      <wsdl:part element="impl:depositOfResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkAccountResponse">

      <wsdl:part element="impl:checkAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSizeRequest">

      <wsdl:part element="impl:getSize" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayRequest">

      <wsdl:part element="impl:display" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAmountAccountRequest">

      <wsdl:part element="impl:getAmountAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAccountRequest">

      <wsdl:part element="impl:addAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkAccountRequest">

      <wsdl:part element="impl:checkAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAmountAccountResponse">

      <wsdl:part element="impl:getAmountAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCurrencyAccountRequest">

      <wsdl:part element="impl:getCurrencyAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payRequest">

      <wsdl:part element="impl:pay" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAmountAccountEURRequest">

      <wsdl:part element="impl:getAmountAccountEUR" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payResponse">

      <wsdl:part element="impl:payResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSizeResponse">

      <wsdl:part element="impl:getSizeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Bank">

      <wsdl:operation name="getSize">

         <wsdl:input message="impl:getSizeRequest" name="getSizeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSizeResponse" name="getSizeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="display">

         <wsdl:input message="impl:displayRequest" name="displayRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayResponse" name="displayResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAmountAccountEUR">

         <wsdl:input message="impl:getAmountAccountEURRequest" name="getAmountAccountEURRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAmountAccountEURResponse" name="getAmountAccountEURResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAccount">

         <wsdl:input message="impl:addAccountRequest" name="addAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:addAccountResponse" name="addAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositOf">

         <wsdl:input message="impl:depositOfRequest" name="depositOfRequest">

       </wsdl:input>

         <wsdl:output message="impl:depositOfResponse" name="depositOfResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pay">

         <wsdl:input message="impl:payRequest" name="payRequest">

       </wsdl:input>

         <wsdl:output message="impl:payResponse" name="payResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAmountAccount">

         <wsdl:input message="impl:getAmountAccountRequest" name="getAmountAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAmountAccountResponse" name="getAmountAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAccount">

         <wsdl:input message="impl:checkAccountRequest" name="checkAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkAccountResponse" name="checkAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrencyAccount">

         <wsdl:input message="impl:getCurrencyAccountRequest" name="getCurrencyAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCurrencyAccountResponse" name="getCurrencyAccountResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankSoapBinding" type="impl:Bank">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSize">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSizeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSizeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="display">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAmountAccountEUR">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAmountAccountEURRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAmountAccountEURResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositOf">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depositOfRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depositOfResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pay">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="payResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAmountAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAmountAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAmountAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrencyAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrencyAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCurrencyAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankService">

      <wsdl:port binding="impl:BankSoapBinding" name="Bank">

         <wsdlsoap:address location="http://localhost:8080/BanqueService/services/Bank"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
