IfsCarsService/WebContent/wsdl/Garage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://project.webServices.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://project.webServices.uge.fr" xmlns:intf="http://project.webServices.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://project.webServices.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="initCars">
    <complexType/>
   </element>
   <element name="initCarsResponse">
    <complexType/>
   </element>
   <element name="getAvailability">
    <complexType>
     <sequence>
      <element name="car" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_long">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="Car">
    <sequence>
     <element name="availability" type="xsd:boolean"/>
     <element name="id" nillable="true" type="xsd:long"/>
     <element name="nextTenantId" nillable="true" type="xsd:long"/>
     <element name="price" nillable="true" type="xsd:long"/>
     <element name="rating" type="xsd:float"/>
     <element name="tenants" nillable="true" type="impl:ArrayOf_xsd_long"/>
    </sequence>
   </complexType>
   <element name="getAvailabilityResponse">
    <complexType>
     <sequence>
      <element name="getAvailabilityReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCart">
    <complexType/>
   </element>
   <element name="addToCartResponse">
    <complexType/>
   </element>
   <element name="buy">
    <complexType/>
   </element>
   <element name="buyResponse">
    <complexType/>
   </element>
   <element name="getPrice">
    <complexType>
     <sequence>
      <element name="car" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPriceResponse">
    <complexType>
     <sequence>
      <element name="getPriceReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCar">
    <complexType>
     <sequence>
      <element name="car" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCarResponse">
    <complexType/>
   </element>
   <element name="getCars">
    <complexType/>
   </element>
   <element name="getCarsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCarsReturn" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCarsRequest">

      <wsdl:part element="impl:getCars" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initCarsRequest">

      <wsdl:part element="impl:initCars" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAvailabilityRequest">

      <wsdl:part element="impl:getAvailability" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyRequest">

      <wsdl:part element="impl:buy" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCarRequest">

      <wsdl:part element="impl:addCar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAvailabilityResponse">

      <wsdl:part element="impl:getAvailabilityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartRequest">

      <wsdl:part element="impl:addToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceRequest">

      <wsdl:part element="impl:getPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initCarsResponse">

      <wsdl:part element="impl:initCarsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartResponse">

      <wsdl:part element="impl:addToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyResponse">

      <wsdl:part element="impl:buyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCarResponse">

      <wsdl:part element="impl:addCarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCarsResponse">

      <wsdl:part element="impl:getCarsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceResponse">

      <wsdl:part element="impl:getPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Garage">

      <wsdl:operation name="initCars">

         <wsdl:input message="impl:initCarsRequest" name="initCarsRequest">

       </wsdl:input>

         <wsdl:output message="impl:initCarsResponse" name="initCarsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAvailability">

         <wsdl:input message="impl:getAvailabilityRequest" name="getAvailabilityRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAvailabilityResponse" name="getAvailabilityResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdl:input message="impl:addToCartRequest" name="addToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToCartResponse" name="addToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buy">

         <wsdl:input message="impl:buyRequest" name="buyRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyResponse" name="buyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdl:input message="impl:getPriceRequest" name="getPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPriceResponse" name="getPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCar">

         <wsdl:input message="impl:addCarRequest" name="addCarRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCarResponse" name="addCarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCars">

         <wsdl:input message="impl:getCarsRequest" name="getCarsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCarsResponse" name="getCarsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GarageSoapBinding" type="impl:Garage">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="initCars">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initCarsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initCarsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAvailability">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAvailabilityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAvailabilityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCars">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCarsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCarsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GarageService">

      <wsdl:port binding="impl:GarageSoapBinding" name="Garage">

         <wsdlsoap:address location="http://localhost:8080/IfsCarsService/services/Garage"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
