IfsCarsService/WebContent/wsdl/Garage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://project.webServices.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://project.webServices.uge.fr" xmlns:intf="http://project.webServices.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://project.webServices.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getModel">
    <complexType>
     <sequence>
      <element name="car" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_long">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="Car">
    <sequence>
     <element name="availability" type="xsd:boolean"/>
     <element name="id" nillable="true" type="xsd:long"/>
     <element name="model" nillable="true" type="xsd:string"/>
     <element name="nextTenantId" nillable="true" type="xsd:long"/>
     <element name="price" nillable="true" type="xsd:long"/>
     <element name="rating" type="xsd:float"/>
     <element name="tenants" nillable="true" type="impl:ArrayOf_xsd_long"/>
    </sequence>
   </complexType>
   <element name="getModelResponse">
    <complexType>
     <sequence>
      <element name="getModelReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAmountAccountEUR">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAmountAccountEURResponse">
    <complexType>
     <sequence>
      <element name="getAmountAccountEURReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAvailability">
    <complexType>
     <sequence>
      <element name="car" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAvailabilityResponse">
    <complexType>
     <sequence>
      <element name="getAvailabilityReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositOf">
    <complexType>
     <sequence>
      <element name="account_id" type="xsd:long"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositOfResponse">
    <complexType/>
   </element>
   <element name="getPrice">
    <complexType>
     <sequence>
      <element name="car" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPriceResponse">
    <complexType>
     <sequence>
      <element name="getPriceReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRating">
    <complexType>
     <sequence>
      <element name="car" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRatingResponse">
    <complexType>
     <sequence>
      <element name="getRatingReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayBank">
    <complexType/>
   </element>
   <element name="displayBankResponse">
    <complexType/>
   </element>
   <element name="getCars">
    <complexType/>
   </element>
   <element name="getCarsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCarsReturn" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAccount">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="currency" type="xsd:string"/>
      <element name="amount" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAccountResponse">
    <complexType>
     <sequence>
      <element name="addAccountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkAccount">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkAccountResponse">
    <complexType>
     <sequence>
      <element name="checkAccountReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCar">
    <complexType>
     <sequence>
      <element name="car" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCarResponse">
    <complexType/>
   </element>
   <element name="buy">
    <complexType>
     <sequence>
      <element name="id_account" type="xsd:long"/>
      <element maxOccurs="unbounded" name="cart" type="impl:Car"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyResponse">
    <complexType>
     <sequence>
      <element name="buyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCurrencyAccount">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCurrencyAccountResponse">
    <complexType>
     <sequence>
      <element name="getCurrencyAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createBankAccount">
    <complexType>
     <sequence>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createBankAccountResponse">
    <complexType>
     <sequence>
      <element name="createBankAccountReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAmountAccount">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAmountAccountResponse">
    <complexType>
     <sequence>
      <element name="getAmountAccountReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="bankSize">
    <complexType/>
   </element>
   <element name="bankSizeResponse">
    <complexType>
     <sequence>
      <element name="bankSizeReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCarsRequest">

      <wsdl:part element="impl:getCars" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getModelResponse">

      <wsdl:part element="impl:getModelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAmountAccountEURResponse">

      <wsdl:part element="impl:getAmountAccountEURResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkAccountResponse">

      <wsdl:part element="impl:checkAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bankSizeResponse">

      <wsdl:part element="impl:bankSizeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyRequest">

      <wsdl:part element="impl:buy" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createBankAccountRequest">

      <wsdl:part element="impl:createBankAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getModelRequest">

      <wsdl:part element="impl:getModel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAvailabilityResponse">

      <wsdl:part element="impl:getAvailabilityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRatingRequest">

      <wsdl:part element="impl:getRating" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkAccountRequest">

      <wsdl:part element="impl:checkAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyResponse">

      <wsdl:part element="impl:buyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCurrencyAccountRequest">

      <wsdl:part element="impl:getCurrencyAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAmountAccountResponse">

      <wsdl:part element="impl:getAmountAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayBankRequest">

      <wsdl:part element="impl:displayBank" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAmountAccountEURRequest">

      <wsdl:part element="impl:getAmountAccountEUR" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCarsResponse">

      <wsdl:part element="impl:getCarsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceResponse">

      <wsdl:part element="impl:getPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bankSizeRequest">

      <wsdl:part element="impl:bankSize" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositOfRequest">

      <wsdl:part element="impl:depositOf" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAccountResponse">

      <wsdl:part element="impl:addAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCurrencyAccountResponse">

      <wsdl:part element="impl:getCurrencyAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAvailabilityRequest">

      <wsdl:part element="impl:getAvailability" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositOfResponse">

      <wsdl:part element="impl:depositOfResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createBankAccountResponse">

      <wsdl:part element="impl:createBankAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAmountAccountRequest">

      <wsdl:part element="impl:getAmountAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCarRequest">

      <wsdl:part element="impl:addCar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceRequest">

      <wsdl:part element="impl:getPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAccountRequest">

      <wsdl:part element="impl:addAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRatingResponse">

      <wsdl:part element="impl:getRatingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCarResponse">

      <wsdl:part element="impl:addCarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayBankResponse">

      <wsdl:part element="impl:displayBankResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Garage">

      <wsdl:operation name="getModel">

         <wsdl:input message="impl:getModelRequest" name="getModelRequest">

       </wsdl:input>

         <wsdl:output message="impl:getModelResponse" name="getModelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAmountAccountEUR">

         <wsdl:input message="impl:getAmountAccountEURRequest" name="getAmountAccountEURRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAmountAccountEURResponse" name="getAmountAccountEURResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAvailability">

         <wsdl:input message="impl:getAvailabilityRequest" name="getAvailabilityRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAvailabilityResponse" name="getAvailabilityResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositOf">

         <wsdl:input message="impl:depositOfRequest" name="depositOfRequest">

       </wsdl:input>

         <wsdl:output message="impl:depositOfResponse" name="depositOfResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdl:input message="impl:getPriceRequest" name="getPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPriceResponse" name="getPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRating">

         <wsdl:input message="impl:getRatingRequest" name="getRatingRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRatingResponse" name="getRatingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayBank">

         <wsdl:input message="impl:displayBankRequest" name="displayBankRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayBankResponse" name="displayBankResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCars">

         <wsdl:input message="impl:getCarsRequest" name="getCarsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCarsResponse" name="getCarsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAccount">

         <wsdl:input message="impl:addAccountRequest" name="addAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:addAccountResponse" name="addAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAccount">

         <wsdl:input message="impl:checkAccountRequest" name="checkAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkAccountResponse" name="checkAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCar">

         <wsdl:input message="impl:addCarRequest" name="addCarRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCarResponse" name="addCarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buy">

         <wsdl:input message="impl:buyRequest" name="buyRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyResponse" name="buyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrencyAccount">

         <wsdl:input message="impl:getCurrencyAccountRequest" name="getCurrencyAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCurrencyAccountResponse" name="getCurrencyAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createBankAccount">

         <wsdl:input message="impl:createBankAccountRequest" name="createBankAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createBankAccountResponse" name="createBankAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAmountAccount">

         <wsdl:input message="impl:getAmountAccountRequest" name="getAmountAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAmountAccountResponse" name="getAmountAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bankSize">

         <wsdl:input message="impl:bankSizeRequest" name="bankSizeRequest">

       </wsdl:input>

         <wsdl:output message="impl:bankSizeResponse" name="bankSizeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GarageSoapBinding" type="impl:Garage">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getModel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getModelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAmountAccountEUR">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAmountAccountEURRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAmountAccountEURResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAvailability">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAvailabilityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAvailabilityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositOf">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depositOfRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depositOfResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRating">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRatingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRatingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayBank">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayBankRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayBankResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCars">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCarsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCarsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrencyAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrencyAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCurrencyAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createBankAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createBankAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createBankAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAmountAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAmountAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAmountAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bankSize">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bankSizeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bankSizeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GarageService">

      <wsdl:port binding="impl:GarageSoapBinding" name="Garage">

         <wsdlsoap:address location="http://localhost:8080/IfsCarsService/services/Garage"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
